<?xml version="1.0" encoding="windows-1251"?>
<WhiteLineMillConfig maxShowPoints="1000000" zoomDir="0" LastProgram="" LastElementProgram="0" LastSC="">
    <Colors clear="#969696"/>
    <Operating Minute="0"/>
    <author Name="BocharovSergey" e-mail="wldev@mail.ru" phone="+79139025883"/>
</WhiteLineMillConfig>
