<?xml version="1.0" encoding="windows-1251"?>
<WhiteLineMillConfig LastProgram="C:/data/program/toWeb/WLMillBetaQt5/GProgram/Zmey.ncc" LastElementProgram="0" LastSC="C:/Users/Develop/Desktop/SC1.scxml">
    <Colors clear="#587187"/>
    <Operating Minute="5159"/>
    <author Name="BocharovSergey" e-mail="bs_info@mail.ru" phone="+79139025883"/>
</WhiteLineMillConfig>
